h1 {
  text-align: center;
  padding: 20px 0;
}
h3 {
  font-size: 10px;
}
.container {
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin: 30px auto;
  opacity: 0.8;
  max-width: 800px;
  padding: 30px;
}

#form-control,
.search-button,
#location-button {
  display: inline;
  margin: 0.5%;
}

#form-control {
  width: 60%;
}

.search-button,
#location-button {
  width: 17.5%;
  height: 60px;
}

.card {
  margin: 30px 0;
}

.todaysWeatherCard .col {
  padding: 20px 50px;
}
#todays-date {
  font-size: 20px;
  font-weight: 500;
}

#temperature-today,
#left-unit {
  font-size: 60px;
}

#right-unit {
  font-size: 24px;
  cursor: pointer;
}

.weeklyWeatherCard .col {
  text-align: center;
  padding: 10px;
}
.weekDay {
  font-weight: 700;
}

.credits {
  opacity: 0.8;
  text-align: center;
  padding-bottom: 25px;
}
